.wrapper {
    position: absolute
}

.arena {
    background-image: url('../assets/Arena.jpg');
    height: 400px;
    width: 1200px;
    background-size: 100%;
    position: relative
}

.header {
    color: white;
    font-size: 40px;
    position: relative;
    top: 40%;
}

.detail {
    color: white;
    font-size: 40px;
    position: relative;
}

.useExpl {
    height: 40px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
