/* You can add global styles to this file, and also import other style files */
.bcolor {
    background-color: #D0217C;
}

.button {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 50%;
}
